:root {
  margin: 0;
  background-color: var(--bg-dark);
  color: var(--text-white);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
  /* TOPE DE SEGURIDAD */
  min-width: 320px; 
}